// https://projectblurple.com/
$color-force: #7289da;
$color-blossom: lighten($color-force, 20%);
$color-fade: $color-force;

$color-bg: #23272a;
$color-bg-2: #1e2124;
$color-bg-alt: #444856;

$color-text: #ffffff;
$font-size-base: 1.8rem;

$font-family-base: "Source Sans Pro", "Helvetica Neue", sans-serif;
$font-family-heading: $font-family-base;

@import "normalize.css";
@import "sakura.css/scss/main";

:root {
  --color-force: #{$color-force};
  --color-blossom: #{$color-blossom};
  --color-fade: #{$color-fade};
  --color-bg: #{$color-bg};
  --color-bg-2: #{$color-bg-2};
  --color-bg-alt: #{$color-bg-alt};
  --color-text: #{$color-text};
}

html,
body {
  min-height: calc(100%);
  height: calc(100%);
  max-width: none;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

section {
  margin-bottom: 2.5rem;
}

/*
button {
  margin-top: 0.5em;
  margin-right: 0.5em;
}
*/

input {
  max-width: 100%;
}

code {
  padding: 0 0.15em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 1.5rem 0;
}

a {
  /* Workaround for sakura.css' weird link styling. */
  border-bottom: 2px solid transparent;
}

button {
  border-radius: 4px;
}

p .material-symbols-rounded {
  margin-top: -100px;
  vertical-align: text-bottom;
}
